.header {
  background-color: navy;
  color: #fff;
  height: 4.5rem;
}
.headerContainer {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: 0 auto;
}
.buttonContainer {
  display: flex;
  gap: 1rem;
}

.buttonLogin {
  background-color: green;
  color: white;
}

.buttonLogout {
  background-color: red;
  color: white;
}

.buttonCart {
  background-color: violet;
}

.showCart {
  position: fixed;
  top: 0;
  right: 0;
  transition: right .5s;
}

.hideCart {
  position: fixed;
  top: 0;
  right: -400px;
  transition: right .5s;
}